.CreateTodoButton {
    background-color: rgb(212, 0, 14);
    box-shadow: 0px 5px 25px rgba(179, 12, 0, 0.3);
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 3.5rem;
    position: fixed;
    bottom: 22px;
    right: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;

}


@media (max-width: 600px) {
    .CreateTodoButton {
      width: 4rem;
      height: 4rem;
      font-size: 40px;
    }
  }

.CreateTodoButton:hover {
    transform: rotate(224deg);
}