.TodoCounter {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 29px;
    width: 336px;
    margin-left: 39vh;
    margin-right: 100px;
    margin-top: -131px;
    height: 19vh;
    background-image:url(../img/mu-logo.png);
    background-repeat: no-repeat;
};

.TodoCounter--loading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 29px;
    width: 336px;
    margin-left: 39vh;
    margin-right: 100px;
    margin-top: -131px;
    height: 19vh;
    opacity: 25%;
}

@media (min-width: 720px) {
    .TodoCounterimg {
      width: 25%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: 720px) {
    .TodoCounter {
      width: 20%;
      font-size: 36px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (min-width: 720px) {
    .TodoCounter--loading {
      width: 50%;
      font-size: 36px;
      margin-left: auto;
      margin-right: auto;
    }
  }